@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 1;
}

.container2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container2.active {
  position: fixed;
  z-index: 2;
}

.container .info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}

.container.active .info {
  transform: translateX(-500vw);
}

.container.active .description {
  transform: translateX(-50vw);
  border-radius: 0 90px 90px 0;
}

.container.active .description img,
.container.active .description h3,
.container.active .description p,
.container.active .description a {
  transform: translateX(500vw);
}

.container2 .info2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(500vw);
  transition: all .6s ease;
}

.container2.active .info2 {
  transform: translateX(0);
}

.container .info h3,
.container2 .info2 h3 {
  font-size: 30px;
  font-weight: 900;
}

.container .info p,
.container2 .info2 p {
  font-size: 12px;
  margin-bottom: 1rem;
}

.container .info .inputField,
.container2 .info2 .inputField {
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0 1rem;
  border-radius: 10px;
  margin-bottom: .5rem;
}

.container .info .inputField input,
.container2 .info2 .inputField input {
  padding: 1rem .7rem;
  width: 100%;
  border: none;
  outline: none;
  font-size: 12px;
  background-color: transparent;
  border-radius: 10px;
}

.container .info .inputField i,
.container2 .info2 .inputField i {
  font-size: 12px;
}

.container .info h4,
.container2 .info2 h4 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: .5rem;
  cursor: pointer;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1rem;
}

.container .info a,
.container2 .info2 a {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 800;
  padding: .7rem;
  background-color: #fe4c16;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.container .info h2,
.container2 .info2 h2 {
  font-size: 12px;
  margin-top: .5rem;
  font-weight: 400;
  cursor: pointer;
}

.container .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 1rem 5rem;
  background-image: radial-gradient(#fe9516, #fe4c16);
  border-radius: 90px 0 0 90px;
  transition: all .5s ease;
}

.container2 .description2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 1rem 5rem;
  ;
  transition: all .5s ease;
  transform: translateX(-500vw);
}

.container2.active .description2 {
  transform: translateX(0);
}

.container .description img,
.container2 .description2 img {
  aspect-ratio: 16/9;
  object-fit: contain;
  object-position: center center;
  width: 400px;
  margin-bottom: 1rem;
  transition: all .5s ease;
}

.container .description h3,
.container2 .description2 h3 {
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-bottom: .5rem;
  transition: all .5s ease;
}

.container .description p,
.container2 .description2 p {
  font-size: 12px;
  font-weight: 400;
  color: white;
  margin-bottom: 1rem;
  transition: all .5s ease;
}

.container .description a,
.container2 .description2 a {
  font-size: 12px;
  font-weight: 900;
  padding: .7rem 2rem;
  background-color: white;
  color: #fe9516;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s ease;
}

#eye,
#eye2 {
  position: relative;
  cursor: pointer;
}

#eye::after,
#eye2::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 4.2px;
  left: -.5px;
  transform: rotate(45deg);
  transition: all .5s ease;
}

#eye.active::after,
#eye2.active::after {
  width: 0;
}

.modalRemember {
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: -500vh;
  left: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: 1001;
  backdrop-filter: blur(5px);
  transition: all .5s ease;
}

.modalRemember.active {
  bottom: 0;
}

.modalRemember .conModalRemember {
  background-color: white;
  box-shadow: 1px 1px 1rem black;
  padding: 3rem 2rem 1rem;
  border-radius: 20px 20px 0 0;
  width: 450px;
}

.modalRemember .conModalRemember p {
  font-size: 14px;
  font-weight: 400;
}

.modalRemember .conModalRemember .inputRemember {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding-left: 1rem;
}

.modalRemember .conModalRemember .inputRemember input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 1rem .7rem;
  border-radius: 10px;
  outline: none;
}

.modalRemember .conModalRemember button {
  margin-top: .5rem;
  width: 100%;
  padding: 1rem;
  border: none;
  font-size: 12px;
  font-weight: 900;
  background-color: #fe9516;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Modal */

.modal h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal p {
  font-size: 12px;
}

.modal {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: all 0.3s ease;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content::before {
  background-color: #56d3f67a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon:hover {
  color: #c7cad1;
}

.modal-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon {
  font-size: 50px;
  color: #56b3f6;
}

.right-items {
  margin-left: 30px;
}

button#okBtn {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #56b3f6;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;

  transition: all 0.3s;
}

button#okBtn:hover {
  background: #56b3f6;
}

/* Modal2 */

.modal2 h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal2 p {
  font-size: 12px;
}

.modal2 {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal2.active {
  display: flex;
}

.modal-content2 {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content2::before {
  background-color: #f656567a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon2 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon2:hover {
  color: #c7cad1;
}

.modal-body2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon2 {
  font-size: 50px;
  color: #f65656;
}

.right-items2 {
  margin-left: 30px;
}

button#okBtn2 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #f65656;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;

  transition: all 0.3s;
}

button#okBtn2:hover {
  background: #f65656;
}

/* Modal3 */

.modal3 h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal3 p {
  font-size: 12px;
}

.modal3 {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal3.active {
  display: flex;
}

.modal-content3 {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content3::before {
  background-color: #b356f67a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon3 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon3:hover {
  color: #c7cad1;
}

.modal-body3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon3 {
  font-size: 50px;
  color: #b156f6;
}

.right-items3 {
  margin-left: 30px;
}

button#okBtn3 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #b156f6;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;

  transition: all 0.3s;
}

button#okBtn3:hover {
  background: #b156f6;
}

/* Modal4 */

.modal4 h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal4 p {
  font-size: 12px;
}

.modal4 {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal4.active {
  display: flex;
}

.modal-content4 {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content4::before {
  background-color: #5bf6567a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon4 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon4:hover {
  color: #c7cad1;
}

.modal-body4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon4 {
  font-size: 50px;
  color: #56f656;
}

.right-items4 {
  margin-left: 30px;
}

button#okBtn4 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #56f656;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: all 0.3s;
}

button#okBtn4:hover {
  background: #56f656;
}

/* Modal5 */

.modal5 h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal5 p {
  font-size: 12px;
}

.modal5 {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal5.active {
  display: flex;
}

.modal-content5 {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content5::before {
  background-color: #f656567a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon5 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon5:hover {
  color: #c7cad1;
}

.modal-body5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon5 {
  font-size: 50px;
  color: #f65656;
}

.right-items5 {
  margin-left: 30px;
}

button#okBtn5 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #f65656;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;

  transition: all 0.3s;
}

button#okBtn5:hover {
  background: #f65656;
}

/* Modal6 */

.modal6 h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal6 p {
  font-size: 12px;
}

.modal6 {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal6.active {
  display: flex;
}

.modal-content6 {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content6::before {
  background-color: #f656567a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon6 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon6:hover {
  color: #c7cad1;
}

.modal-body6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon6 {
  font-size: 50px;
  color: #f65656;
}

.right-items6 {
  margin-left: 30px;
}

button#okBtn6 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #f65656;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;

  transition: all 0.3s;
}

button#okBtn6:hover {
  background: #f65656;
}

/* Modal7 */

.modal7 h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal7 p {
  font-size: 12px;
}

.modal7 {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

.modal7.active {
  display: flex;
}

.modal-content7 {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content7::before {
  background-color: #f656567a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon7 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon7:hover {
  color: #c7cad1;
}

.modal-body7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon7 {
  font-size: 50px;
  color: #f65656;
}

.right-items7 {
  margin-left: 30px;
}

button#okBtn7 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #f65656;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: all 0.3s;
}

button#okBtn7:hover {
  background: #f65656;
}

/* Modal8 */

.modal8 h1 {
  font-size: 30px;
  font-weight: 900;
}

.modal8 p {
  font-size: 12px;
}

.modal8 {
  top: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #5055628c;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

.modal8.active {
  display: flex;
}

.modal-content8 {
  background: #17181c;
  color: #f1f2f4;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.75em 1em #0b0c0e4d;
  border-radius: 1em;
  z-index: 7;
}

.modal-content8::before {
  background-color: #5bf6567a;
  border-radius: 50%;
  content: '';
  filter: blur(60px);
  opacity: .15;
  position: absolute;
  top: -8px;
  right: -15em;
  width: 25em;
  height: 25em;
  z-index: 0;
  transition: background-color .3s;
}

.closeIcon8 {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #abafba;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
}

.closeIcon8:hover {
  color: #c7cad1;
}

.modal-body8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

span.icon8 {
  font-size: 50px;
  color: #56f656;
}

.right-items8 {
  margin-left: 30px;
}

button#okBtn8 {
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  color: #fff;
  border: 1px solid #56f656;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: all 0.3s;
}

button#okBtn8:hover {
  background: #56f656;
}

@media (width < 1000px) {
  .container .description,
  .container2 .description2 {
    display: none;
  }

  .container .info,
  .container2 .info2 {
    width: 100vw;
    height: 100vh;
  }
}

@media (width < 700px) {
  .container .info .inputField,
  .container2 .info2 .inputField,
  .container .info h4,
  .container2 .info2 a,
  .container .info a {
    width: 85%;
  }
}

@media (width < 650px) {
  .modal {
    padding: 20px;
  }

  .modal-content {
    height: 300px;
  }

  .modal-content .modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content .modal-body .right-items {
    margin-left: 0px;
  }

  .modal2 {
    padding: 20px;
  }

  .modal-content2 {
    height: 400px;
  }

  .modal-content2 .modal-body2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content2 .modal-body2 .right-items2 {
    margin-left: 0px;
  }

  .modal3 {
    padding: 20px;
  }

  .modal-content3 {
    height: 400px;
  }

  .modal-content3 .modal-body3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content3 .modal-body3 .right-items3 {
    margin-left: 0px;
  }

  .modal4 {
    padding: 20px;
  }

  .modal-content4 {
    height: 400px;
  }

  .modal-content4 .modal-body4 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content4 .modal-body4 .right-items4 {
    margin-left: 0px;
  }

  .modal5 {
    padding: 20px;
  }

  .modal-content5 {
    height: 400px;
  }

  .modal-content5 .modal-body5 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content5 .modal-body5 .right-items5 {
    margin-left: 0px;
  }

  .modal6 {
    padding: 20px;
  }

  .modal-content6 {
    height: 400px;
  }

  .modal-content6 .modal-body6 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content6 .modal-body6 .right-items6 {
    margin-left: 0px;
  }

  .modal7 {
    padding: 20px;
  }

  .modal-content7 {
    height: 400px;
  }

  .modal-content7 .modal-body7 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content7 .modal-body7 .right-items7 {
    margin-left: 0px;
  }

  .modal8 {
    padding: 20px;
  }

  .modal-content8 {
    height: 400px;
  }

  .modal-content8 .modal-body8 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    align-items: center;
    padding: 0;
    position: relative;
  }

  .modal-content8 .modal-body8 .right-items8 {
    margin-left: 0px;
  }
}

@media (width < 500px) {
  .container .info .inputField,
  .container2 .info2 .inputField,
  .container .info h4,
  .container2 .info2 a,
  .container .info a {
    width: 90%;
  }
}