<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/admin/details/details.css" />
    <link rel="stylesheet" href="/styles/darkmode.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Administrador | Matpi</title>
    <!-- ICONOS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>

    <div class="main">
        <div class="conDetails">
            <div class="infoUser">
                <h3>Imagen:</h3>
                <img src="/assets/profile-1.jpg" alt="">
                <h3>Nombre:</h3>
                <p>Kalet Josue</p>
                <h3>Telefono:</h3>
                <p>3125704048</p>
                <h3>Correo Electronico:</h3>
                <p>kalet.jo28@gmail.com</p>
                <h3>Direccion:</h3>
                <p>Cra 22 # 2 - 13</p>
                <h3>Hora:</h3>
                <p>12:54</p>
                <h3>Estado:</h3>
                <p class="enviado">Enviado</p>
            </div>
            <div class="infoPedido">
                <h2>Informacion:</h2>
                <div class="products">
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham1.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                    <div class="productValor">
                        <div class="product">
                            <img src="/assets/ham2.png" alt="">
                            <h3>Whopper</h3>
                        </div>
                        <p>$13.000</p>
                    </div>
                </div>
                <div class="total">
                    <h5>Valor Total: </h3>
                    <h4>$63.000</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items">
                    <h1>¡Lo sentimos!</h1>
                    <p>No has iniciado sesión de manera correcta</p>
                    <button id="okBtn">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/controller/admin/details/details.js" type="module"></script>
</body>

</html>