<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/admin/config/config.css" />
    <link rel="stylesheet" href="/styles/darkmode.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Administrador | Matpi</title>
    <!-- ICONOS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>

    <div class="main">
        <div class="topConfig">
            <img src="" alt="" class="imgConfig">
            <div class="textTopConfig">
                <h3 class="emailConfig"></h3>
                <p class="nameConfig"></p>
            </div>
        </div>

        <div class="conConfig">
            <div class="infoPersonal">
                <div class="leftInfoPersonal">
                    <i class="fa-solid fa-id-card"></i>
                    <div class="textLeftInfoPersonal">
                        <h3>Informacion Personal</h3>
                        <p>En este apartado podras actualizar tus datos personales</p>
                    </div>
                </div>
                <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="security">
                <div class="leftSecurity">
                    <i class="fa-solid fa-lock"></i>
                    <div class="textLeftSecurity">
                        <h3>Seguridad</h3>
                        <p>En este apartado podras actualizar actualizar tu contraseña</p>
                    </div>
                </div>
                <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="users">
                <div class="leftUsers">
                    <i class="fa-solid fa-users"></i>
                    <div class="textLeftUsers">
                        <h3>Usuarios</h3>
                        <p>En este apartado podras gestionar y actualizar tus usuarios</p>
                    </div>
                </div>
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items">
                    <h1>¡Lo sentimos!</h1>
                    <p class="textModal"></p>
                    <button id="okBtn">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal2">
        <div class="modal-content2">
            <span class="closeIcon2"><i class="fas fa-times"></i></span>
            <div class="modal-body2">
                <span class="icon2"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items2">
                    <h1>Ooops!</h1>
                    <p class="textModal2"></p>
                    <button id="okBtn2">Intentar de nuevo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modalInfo">
        <div class="conModalInfo">
            <label for="photo">
                <img src="/assets/profile-2.jpg" alt="" class="photo">
            </label>
            <input type="file" id="photo" hidden class="inputPhoto" accept="image/*">
            <input type="text" placeholder="Nombre Completo" class="inputName">
            <input type="text" placeholder="Correo Electronico" class="inputEmail" disabled>
            <a class="inputUpdate">Actualizar</a>
        </div>
    </div>

    <div class="modalSecurity">
        <div class="conModalSecurity">
            <i class="fa-solid fa-lock fa-shake"></i>
            <input type="text" placeholder="Nueva Contraseña" class="newContra">
            <input type="text" placeholder="Confirma tu Contraseña" class="newConfir">
            <a class="updateContra">Actualizar</a>
        </div>
    </div>

    <div class="toast">
        <p class="textToast"></p>
    </div>

    <div class="loader">
        <svg class="pl" viewBox="0 0 160 160" width="160px" height="160px" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <linearGradient id="grad" x1="0" y1="0" x2="0" y2="1">
                    <stop offset="0%" stop-color="#000"></stop>
                    <stop offset="100%" stop-color="#fff"></stop>
                </linearGradient>
                <mask id="mask1">
                    <rect x="0" y="0" width="160" height="160" fill="url(#grad)"></rect>
                </mask>
                <mask id="mask2">
                    <rect x="28" y="28" width="104" height="104" fill="url(#grad)"></rect>
                </mask>
            </defs>

            <g>
                <g class="pl__ring-rotate">
                    <circle class="pl__ring-stroke" cx="80" cy="80" r="72" fill="none" stroke="hsl(223,90%,55%)"
                        stroke-width="16" stroke-dasharray="452.39 452.39" stroke-dashoffset="452"
                        stroke-linecap="round" transform="rotate(-45,80,80)"></circle>
                </g>
            </g>
            <g mask="url(#mask1)">
                <g class="pl__ring-rotate">
                    <circle class="pl__ring-stroke" cx="80" cy="80" r="72" fill="none" stroke="hsl(193,90%,55%)"
                        stroke-width="16" stroke-dasharray="452.39 452.39" stroke-dashoffset="452"
                        stroke-linecap="round" transform="rotate(-45,80,80)"></circle>
                </g>
            </g>

            <g>
                <g stroke-width="4" stroke-dasharray="12 12" stroke-dashoffset="12" stroke-linecap="round"
                    transform="translate(80,80)">
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(-135,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(-90,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(-45,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(0,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(45,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(90,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(135,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,10%,90%)" points="0,2 0,14"
                        transform="rotate(180,0,0) translate(0,40)"></polyline>
                </g>
            </g>
            <g mask="url(#mask1)">
                <g stroke-width="4" stroke-dasharray="12 12" stroke-dashoffset="12" stroke-linecap="round"
                    transform="translate(80,80)">
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(-135,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(-90,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(-45,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(0,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(45,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(90,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(135,0,0) translate(0,40)"></polyline>
                    <polyline class="pl__tick" stroke="hsl(223,90%,80%)" points="0,2 0,14"
                        transform="rotate(180,0,0) translate(0,40)"></polyline>
                </g>
            </g>

            <g>
                <g transform="translate(64,28)">
                    <g class="pl__arrows" transform="rotate(45,16,52)">
                        <path fill="hsl(3,90%,55%)"
                            d="M17.998,1.506l13.892,43.594c.455,1.426-.56,2.899-1.998,2.899H2.108c-1.437,0-2.452-1.473-1.998-2.899L14.002,1.506c.64-2.008,3.356-2.008,3.996,0Z">
                        </path>
                        <path fill="hsl(223,10%,90%)"
                            d="M14.009,102.499L.109,58.889c-.453-1.421,.559-2.889,1.991-2.889H29.899c1.433,0,2.444,1.468,1.991,2.889l-13.899,43.61c-.638,2.001-3.345,2.001-3.983,0Z">
                        </path>
                    </g>
                </g>
            </g>
            <g mask="url(#mask2)">
                <g transform="translate(64,28)">
                    <g class="pl__arrows" transform="rotate(45,16,52)">
                        <path fill="hsl(333,90%,55%)"
                            d="M17.998,1.506l13.892,43.594c.455,1.426-.56,2.899-1.998,2.899H2.108c-1.437,0-2.452-1.473-1.998-2.899L14.002,1.506c.64-2.008,3.356-2.008,3.996,0Z">
                        </path>
                        <path fill="hsl(223,90%,80%)"
                            d="M14.009,102.499L.109,58.889c-.453-1.421,.559-2.889,1.991-2.889H29.899c1.433,0,2.444,1.468,1.991,2.889l-13.899,43.61c-.638,2.001-3.345,2.001-3.983,0Z">
                        </path>
                    </g>
                </g>
            </g>
        </svg>
        <div class="textLoader">
            <p>Estamos actualizando tus datos espera un poco</p>
        </div>
    </div>

    <script src="/controller/admin/config/config.js" type="module"></script>
</body>

</html>