@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray-white: #f6f6f6;
    --color-gray: #757575;

    --color-fondo: #e8e8e8;

    --box-shadow: 1px 1px 2rem #00000039;
    --box-shadow-suave: 1px 1px 2rem #00000012;
    --box-shadow-fuerte: 1px 1px 1rem #000000;
}

.dark-mode {
    --color-white: #000000;
    --color-black: #ffffff;
    --color-gray-white: #232222;
    --color-gray: #a7a7a7;

    --color-fondo: #373737;

    --box-shadow: 1px 1px 2rem #ffffff21;
    --box-shadow-suave: 1px 1px 2rem #ffffff12;
    --box-shadow-fuerte: 1px 1px 1rem #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    background-color: var(--color-gray-white);
}

input {
    width: 100%;
}

#btnsidebar,
#btnsidebar2 {
    position: fixed;
    right: 20px;
    top: 20px;
    color: var(--color-white);
    background-color: var(--color-black);
    height: 30px;
    width: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow-fuerte);
}

.sidebar {
    top: 0;
    left: 0;
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-white);
    padding: 24px;
    border-radius: 0 15px 15px 0;
    position: fixed;
    transition: all .2s ease;
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-white);
}

.user-img {
    width: 44px;
    height: 44px;
}

.user-img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.user-details .title {
    font-size: 11px;
    font-weight: 500;
    color: var(--color-gray);
}

.user-details .name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
}

.menu .title {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-gray);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.nav {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-x: hidden;
}

.nav::-webkit-scrollbar {
    width: 4px;
    margin-left: 2rem;
}

.nav::-webkit-scrollbar-thumb {
    background-color: var(--color-fondo);
    border-radius: 10px;
}

.menu ul li {
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
    padding: 12px 20px;
    border-radius: 8px;
    transition: all .2s ease;
}

.menu ul li:hover a,
.menu ul li.active a {
    color: var(--color-black);
    background-color: var(--color-gray-white);
}

.menu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-gray-white);
}

.sidebar.active {
    width: 92px;
}

.sidebar.active #moon {
    display: none;
}

.sidebar.active .user-details {
    display: none;
}

.sidebar.active .menu .title {
    text-align: center;
}

.sidebar.active .menu>ul>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.active .menu>ul>li>a .text {
    display: none;
}

.main {
    padding: 1rem 2rem 1rem 7rem;
}

.main .admin_main {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.main .admin_main .text_admin-main {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.main .admin_main .text_admin-main h1 {
    font-size: 15px;
    font-weight: 900;
    color: var(--color-black);
}

.main .admin_main .text_admin-main p {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-black);
}

.main .admin_main img {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.main .condefault {
    margin-top: 2rem;
}

.main .condefault table {
    width: 100%;
    border-collapse: collapse;
}

.main .condefault table th {
    padding: 1rem;
    border: solid 2px var(--color-fondo);
    color: var(--color-black);
}

.main .condefault table thead th {
    font-size: 15px;
    font-weight: 900;
    border-top: none;
}

.main .condefault table thead th:first-child,
.main .condefault table tbody tr th:first-child {
    border-left: none;
}

.main .condefault table thead th:last-child,
.main .condefault table tbody tr th:last-child {
    border-right: none;
}

.main .condefault table tbody tr:last-child th {
    border-bottom: none;
}

.main .condefault table tbody tr th:nth-child(2) {
    width: 200px;
}

.main .condefault table tbody tr th:nth-child(4) {
    width: 120px;
}

.main .condefault table tbody tr th:nth-child(5),
.main .condefault table tbody tr th:nth-child(6) {
    width: 100px;
}

.main .condefault table tbody tr th:last-child {
    width: 250px;
}

.main .condefault table tbody tr th img {
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center center;
    width: 70px;
}

.main .condefault table tbody tr th {
    font-size: 12px;
    font-weight: 400;
}

.main .condefault table tbody tr th div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.main .condefault table tbody tr th div a {
    padding: .7rem 1rem;
    flex: 0 0 auto;
    font-weight: 900;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: all .2s ease;
}

.main .condefault table tbody tr th div a:first-child {
    background-color: var(--color-fondo);
    color: var(--color-gray);
    border: solid 2px var(--color-fondo);
}

.main .condefault table tbody tr th div a:first-child:hover {
    transform: translateY(-5px);
    background-color: transparent;
    color: var(--color-black);
}

.main .condefault table tbody tr th div a:last-child {
    background-color: #f65656;
    color: white;
    border: solid 2px #f65656;
}

.main .condefault table tbody tr th div a:last-child:hover {
    transform: translateY(-5px);
    background-color: transparent;
    color: #f65656;
}

#add {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo);
    color: var(--color-gray);
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
}

.addProduct,
.addProductUpdate {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -500vw;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 1001;
    transition: all .5s ease;
}

.addProduct.active,
.addProductUpdate.active {
    right: 0;
}

.addProduct .con_addProduct,
.addProductUpdate .con_addProductUpdate {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-fuerte);
    height: 100vh;
    width: 350px;
    padding: 2rem;
}

.addProduct .con_addProduct .text_addProduct,
.addProductUpdate .con_addProductUpdate .text_addProductUpdate {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addProductUpdate .con_addProductUpdate .text_addProductUpdate {
    margin-bottom: 2rem;
}

.addProduct .con_addProduct .text_addProduct p,
.addProductUpdate .con_addProductUpdate .text_addProductUpdate p {
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: auto;
    color: var(--color-gray);
    padding: 0;
    margin-bottom: 0;
}

.addProduct .con_addProduct .text_addProduct i,
.addProductUpdate .con_addProductUpdate .text_addProductUpdate i {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray);
}

.addProduct .con_addProduct label {
    display: inline-block;
    margin-top: 1rem;
    width: 100%;
    padding: .7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 800;
    border: dashed 2px #f65656;
    color: #f65656;
    border-radius: 10px;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: all .2s ease;
}

.addProduct .con_addProduct label:hover {
    background-color: #f65656;
    color: white;
}

.addProduct .con_addProduct input,
.addProductUpdate .con_addProductUpdate input {
    padding: .7rem 1rem;
    font-size: 12px;
    border: solid 1px var(--color-gray);
    color: var(--color-gray);
    border-radius: 10px;
    margin-bottom: .5rem;
    outline: none;
    background-color: transparent;
}

.addProduct .con_addProduct p,
.addProductUpdate .con_addProductUpdate p {
    font-size: 12px;
    padding: .7rem 1rem;
    border: solid 1px var(--color-gray);
    border-radius: 10px;
    color: var(--color-gray);
    margin-bottom: .5rem;
    cursor: pointer;
}

.addProduct .con_addProduct h3 {
    margin-bottom: .5rem;
    font-size: 14px;
    font-weight: 900;
    color: var(--color-black);
}

.addProduct .con_addProduct h3 span {
    font-size: 12px;
    font-weight: 400;
}

.addProduct .con_addProduct button,
.addProductUpdate .con_addProductUpdate button {
    width: 100%;
    padding: .7rem 1rem;
    font-size: 12px;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    background-color: #56b3f6;
    color: white;
    cursor: pointer;
}

.selectCategory,
.selectUni {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: -500vh;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    backdrop-filter: blur(5px);
    z-index: 1002;
    transition: all .5s ease;
}

.selectCategory.active,
.selectUni.active {
    bottom: 0;
}

.selectCategory .con_selectCategory {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-fuerte);
    border-radius: 20px 20px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5rem 2rem 2rem 2rem;
    position: relative;
    gap: .5rem;
}

.selectUni .con_selectUni {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-fuerte);
    border-radius: 20px 20px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 2rem 2rem 2rem;
    position: relative;
    gap: .5rem;
}

.selectCategory .con_selectCategory span,
.selectUni .con_selectUni span {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: var(--color-gray);
    top: 30px;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.selectCategory .con_selectCategory p,
.selectUni .con_selectUni p {
    font-size: 12px;
    padding: .7rem 1rem;
    background-color: var(--color-fondo);
    color: var(--color-gray);
    font-weight: 900;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* Modal */

.modal h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal p {
    font-size: 12px;
}

.modal {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #505562;
    align-items: center;
    justify-content: center;
    z-index: 100000000000;
    transition: all 0.3s ease;
}

.modal.active {
    display: flex;
}

.modal-content {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content::before {
    background-color: #f656567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon:hover {
    color: #c7cad1;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon {
    font-size: 50px;
    color: #f65656;
}

.right-items {
    margin-left: 30px;
}

button#okBtn {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 2px solid #f65656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s;
}

button#okBtn:hover {
    background: #f65656;
}

/* Modal2 */

.modal2 h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal2 p {
    font-size: 12px;
}

.modal2 {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #5055628c;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: all 0.3s ease;
}

.modal2.active {
    display: flex;
}

.modal-content2 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content2::before {
    background-color: #56d3f67a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon2:hover {
    color: #c7cad1;
}

.modal-body2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon2 {
    font-size: 50px;
    color: #56b3f6;
}

.right-items2 {
    margin-left: 30px;
}

button#okBtn2 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 2px solid #f65656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s;
}

button#okBtn2:hover {
    background: #f65656;
}

button#cancelBtn2 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 2px solid #56b3f6;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 85px;
    bottom: 20px;
    transition: all 0.3s;
}

button#cancelBtn2:hover {
    background: #56b3f6;
}

/* Modal3 */

.modal3 h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal3 p {
    font-size: 12px;
}

.modal3 {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #5055628c;
    align-items: center;
    justify-content: center;
    z-index: 1002;
}

.modal3.active {
    display: flex;
}

.modal-content3 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content3::before {
    background-color: #f656567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon3 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon3:hover {
    color: #c7cad1;
}

.modal-body3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon3 {
    font-size: 50px;
    color: #f65656;
}

.right-items3 {
    margin-left: 30px;
}

button#okBtn3 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 1px solid #f65656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s;
}

button#okBtn3:hover {
    background: #f65656;
}

.loader {
    position: fixed;
    top: 500vw;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all .4s ease;
    z-index: 1010;
}

.loader.active {
    top: 0;
}

.loader p {
    font-size: 13px;
    font-weight: 900;
    color: white;
}

.pl {
    display: block;
    width: 9.375em;
    height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pl__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
    transform-origin: 80px 80px;
}

.pl__ring-rotate {
    animation-name: ringRotate42;
}

.pl__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
}

.pl__tick {
    animation-name: tick42;
}

.pl__tick:nth-child(2) {
    animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
    animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
    animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
    animation-delay: -1s;
}

.pl__tick:nth-child(6) {
    animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
    animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
    animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(405deg);
    }
}

@keyframes ringRotate42 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(720deg);
    }
}

@keyframes ringStroke42 {

    from,
    to {
        stroke-dashoffset: 452;
        transform: rotate(-45deg);
    }

    50% {
        stroke-dashoffset: 169.5;
        transform: rotate(-180deg);
    }
}

@keyframes tick42 {

    from,
    3%,
    47%,
    to {
        stroke-dashoffset: -12;
    }

    14%,
    36% {
        stroke-dashoffset: 0;
    }
}

@media (width >1250px) {
    .main .condefault table tbody tr th:first-child {
        width: 150px;
    }
}

@media (width < 1100px) {
    .main .condefault {
        overflow: hidden;
        overflow-x: auto;
    }

    .main .condefault::-webkit-scrollbar {
        width: 0;
    }
}

@media (width < 650px) {
    .sidebar {
        left: -100vw;
    }

    .sidebar.response {
        left: 0;
    }

    #btnsidebar {
        display: flex;
        z-index: 1000000;
    }

    #btnsidebar2 {
        display: none;
    }

    .sidebar.response #btnsidebar {
        display: none;
    }

    .sidebar.response #btnsidebar2 {
        display: flex;
    }

    .main {
        padding: 1rem;
    }

    .main .admin_main {
        justify-content: start;
        display: flex;
        flex-direction: row-reverse;
        padding: 0 1rem;
    }

    .main .admin_main .text_admin-main {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .modal {
        padding: 20px;
    }

    .modal-content {
        height: 300px;
    }

    .modal-content .modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content .modal-body .right-items {
        margin-left: 0px;
    }

    .modal2 {
        padding: 20px;
    }

    .modal-content2 {
        height: 400px;
    }

    .modal-content2 .modal-body2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content2 .modal-body2 .right-items2 {
        margin-left: 0px;
    }

    .modal3 {
        padding: 20px;
    }

    .modal-content3 {
        height: 400px;
    }

    .modal-content3 .modal-body3 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content3 .modal-body3 .right-items3 {
        margin-left: 0px;
    }
}

@media (width < 400px) {

    .selectCategory .con_selectCategory,
    .selectUni .con_selectUni {
        grid-template-columns: 1fr 1fr;
        padding: 5rem 2rem 1rem;
        width: 100%;
    }
}

@media (width < 300px) {
    .main .admin_main .text_admin-main {
        display: none;
    }

    .selectCategory .con_selectCategory {
        padding: 5rem 1rem 1rem;
    }
}