<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/admin/permisos/permisos.css" />
    <link rel="stylesheet" href="/styles/darkmode.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Administrador | Matpi</title>
    <!-- ICONOS -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body>

    <div class="main">
        <div class="condefault">
            <table class="default">
                <thead>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Correo Electronico</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Privilegio</th>
                    <th>Acciones</th>
                </thead>
                <tbody class="tbody">

                </tbody>
            </table>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items">
                    <h1>¡Lo sentimos!</h1>
                    <p class="textModal"></p>
                    <button id="okBtn">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal2">
        <div class="modal-content2">
            <span class="closeIcon2"><i class="fas fa-times"></i></span>
            <div class="modal-body2">
                <span class="icon2"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items2">
                    <h1>Ooops!</h1>
                    <p class="textModal2"></p>
                    <button id="okBtn2">Intenta de nuevo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal3">
        <div class="modal-content3">
            <span class="closeIcon3"><i class="fas fa-times"></i></span>
            <div class="modal-body3">
                <span class="icon3"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items3">
                    <h1>Hecho!</h1>
                    <p>Ahora deberas iniciar sesion de nuevo para mayor seguridad</p>
                    <button id="okBtn3">Iniciar Sesion</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modalDelete">
        <div class="conModalDelete">
            <img src="/assets/profile-1.jpg" alt="" class="imgModalDelete">
            <p class="nameModalDelete">Kalet Josue Victor Robayo</p>
            <p class="emailModalDelete">kalet.jo28@gmail.com</p>
            <p class="phoneModalDelete">3125704048</p>
            <a class="deleteModalDelete">Eliminar</a>
        </div>
    </div>

    <div class="modalPermiso">
        <div class="conModalPermiso">
            <p>SuperAdmin</p>
            <p>Administrador</p>
            <p>Cajero</p>
            <p>Usuario</p>
        </div>
    </div>

    <div class="modalPermiso2">
        <div class="conModalPermiso2">
            <p>SuperAdmin</p>
            <p>Administrador</p>
            <p>Cajero</p>
            <p>Usuario</p>
        </div>
    </div>

    <div class="modalAdd">
        <div class="conModalAdd">
            <div class="topModalAdd">
                <h3>Completa los campos:</h3>
                <i class="ph-bold ph-x"></i>
            </div>
            <input type="text" placeholder="Nombre Completo" class="addName">
            <input type="text" placeholder="Correo Electronico" class="addEmail">
            <input type="text" placeholder="Telefono" class="addPhone">
            <input type="text" placeholder="Direccion" class="addDirection">
            <p class="addPrivilegio">Privilegio</p>
            <input type="text" placeholder="Contraseña" class="addContra">
            <a class="addBtn">Agregar</a>
        </div>
    </div>

    <i class="fa-solid fa-person-circle-plus" id="addUser"></i>

    <script src="/controller/admin/permisos/permisos.js" type="module"></script>
</body>

</html>