<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/menu/menu.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Menú</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
    <header>
        <nav class="nav">
            <a href="/index.html">
                <img src="/assets/logo.png" alt="">
            </a>
            <ul class="con">

            </ul>
            <div class="bars__menu">
                <span class="line1__bars-menu"></span>
                <span class="line2__bars-menu"></span>
                <span class="line3__bars-menu"></span>
            </div>
        </nav>
    </header>

    <h1 id="HAMBURGUESAS">HAMBURGUESAS</h1>
    <div class="swiper-container mySwiper concardsimg">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham1.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                            <i class="ri-star-line"></i>
                        </div>
                        <p>Burger King</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill" id="plus"></i>
                            <p id="count">0</p>
                            <i class="ri-subtract-line" id="substract"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 id="MAS HAMBURGUESAS">MAS HAMBURGUESAS</h1>
    <div class="swiper-container mySwiper concardsimg">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham1.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                            <i class="ri-star-line"></i>
                        </div>
                        <p>Burger King</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill" id="plus"></i>
                            <p id="count">0</p>
                            <i class="ri-subtract-line" id="substract"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 id="SALCHIPAPAS">SALCHIPAPAS</h1>
    <div class="swiper-container mySwiper concardsimg">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham1.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-half-fill"></i>
                            <i class="ri-star-line"></i>
                        </div>
                        <p>Burger King</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill" id="plus"></i>
                            <p id="count">0</p>
                            <i class="ri-subtract-line" id="substract"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="cardsimg">
                    <img src="/assets/ham4.png" alt="">
                    <div class="starcardsimg">
                        <div class="constar">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <p>Doble</p>
                        <p>$ 25.000</p>
                    </div>
                    <div class="bottomcardsimg">
                        <i class="ri-shopping-cart-fill" id="carshop"></i>
                        <div class="plusres">
                            <i class="ri-add-fill"></i>
                            <p>0</p>
                            <i class="ri-subtract-line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <span class="closeIcon"><i class="fas fa-times"></i></span>
            <div class="modal-body">
                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items">
                    <h1>Ooops !</h1>
                    <p class="modaltxt">No te reconocemos, inicia sesion</p>
                    <button id="okBtn">Iniciar sesion</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/controller/menu/menu.js" type="module"></script>
</body>

</html>