<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/menu/menu.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Menu - Matpi | Colombia</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>

<body>
    <header>
        <nav class="nav">
            <a href="/index.html">
                <img src="/assets/logo.png" alt="">
            </a>
            <ul>
                <li><a href="/views/login/login.html"><i class="ri-user-line"></i></a></li>
            </ul>
        </nav>
    </header>

    <div class="concardsimg">
        <div class="cardsimg">
            <img src="/assets/ham1.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Burger King</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham4.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                </div>
                <p>Doble</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham2.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-half-fill"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Irresistible</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham3.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>

        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill"></i>
                    <p>0</p>
                    <i class="ri-subtract-line"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
        <div class="cardsimg">
            <img src="/assets/ham9.png" alt="">
            <div class="starcardsimg">
                <div class="constar">
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-fill"></i>
                    <i class="ri-star-line"></i>
                    <i class="ri-star-line"></i>
                </div>
                <p>Hawaiana</p>
                <p>$ 25.000</p>
            </div>
            <div class="bottomcardsimg">
                <i class="ri-shopping-cart-fill"></i>
                <div class="plusres">
                    <i class="ri-add-fill" id="plus"></i>
                    <p id="count">0</p>
                    <i class="ri-subtract-line" id="substract"></i>
                </div>
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <script src="/controller/menu/menu.js"></script>
</body>

</html>