<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login/login.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title class="title23">Inicia sesión | Matpi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container">
        <div class="info">
            <h3>Iniciar Sesion</h3>
            <p>Ingresa con tus credenciales: </p>
            <div class="inputField">
                <i class="fa-solid fa-user fa-bounce"></i>
                <input type="email" placeholder="Correo Electronico" autocomplete="off" id="email">
            </div>
            <div class="inputField">
                <i class="fa-solid fa-lock fa-shake"></i>
                <input type="password" placeholder="Contraseña" autocomplete="off" id="contra">
                <i class="fa-solid fa-eye" id="eye"></i>
            </div>
            <h4>¿Olvidaste tu Contraseña?</h4>
            <a id="iniciar">Iniciar Sesion</a>
            <h2 class="noCount">¿No Tienes Cuenta?</h2>
        </div>
        <div class="description">
            <img src="/assets/ham1.png" alt="">
            <h3>¿Ya conoces la American King?</h3>
            <p>Nuestra nueva AMERICAN KING, cuenta con 1 carne de 198gr de res a la parrilla, tocineta
                crujiente, queso americano, tomates, lechuga recién cortada, cebollas caramelizada y nuestra
                famosa salsa BBQ, sobre un pan tostado perfectamente con mayonesa.</p>
            <a id="registerBtn">Registrate</a>
        </div>
    </div>

    <div class="container2">
        <div class="description2">
            <img src="/assets/ham2.png" alt="">
            <h3>¿Ya conoces la Bacon King?</h3>
            <p> Cuenta con dos carnes de res a la parrilla, cubiertas de crujiente tocineta, queso americano,
                ketchup y cremosa mayonesa, sobre un pan suave con ajonjolí.</p>
            <a id="loginBtn">Inicia Sesion</a>
        </div>
        <div class="info2">
            <h3>Registrate</h3>
            <p>Ingresa tus datos: </p>
            <div class="inputField">
                <i class="fa-solid fa-signature"></i>
                <input type="text" placeholder="Nombre Completo" autocomplete="off" id="name">
            </div>
            <div class="inputField">
                <i class="fa-solid fa-user fa-bounce"></i>
                <input type="email" placeholder="Correo Electronico" autocomplete="off" id="ema_regis">
            </div>
            <div class="inputField">
                <i class="fa-solid fa-phone"></i>
                <input type="text" placeholder="Telefono" autocomplete="off" id="phone">
            </div>
            <div class="inputField">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" placeholder="Direccion" autocomplete="off" id="direction">
            </div>
            <div class="inputField">
                <i class="fa-solid fa-lock fa-shake"></i>
                <input type="password" placeholder="Contraseña" autocomplete="off" id="pass_regis">
                <i class="fa-solid fa-eye" id="eye2"></i>
            </div>
            <a id="regis">Registrate</a>
            <h2 class="count">¿Ya Tienes Cuenta?</h2>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <span class="closeIcon"><i class="fas fa-times"></i></span>
            <div class="modal-body">
                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items">
                    <h1>Ooops !</h1>
                    <p>Debes completar todos los campos</p>
                    <button id="okBtn">Intentar de nuevo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal2">
        <div class="modal-content2">
            <span class="closeIcon2"><i class="fas fa-times"></i></span>
            <div class="modal-body2">
                <span class="icon2"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items2">
                    <h1>Ooops !</h1>
                    <p>Correo o contraseña incorrectos</p>
                    <button id="okBtn2">Registrate</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal3">
        <div class="modal-content3">
            <span class="closeIcon3"><i class="fas fa-times"></i></span>
            <div class="modal-body3">
                <span class="icon3"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items3">
                    <h1>Ooops !</h1>
                    <p>Verifica tu email, hemos mandado un correo</p>
                    <button id="okBtn3">Intentar de nuevo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal4">
        <div class="modal-content4">
            <span class="closeIcon4"><i class="fas fa-times"></i></span>
            <div class="modal-body4">
                <span class="icon4"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items4">
                    <h1>Felicidades!</h1>
                    <p>Revisa tu email, hemos mandado un correo de verificacion (no olvides revisar en spam)</p>
                    <button id="okBtn4">Iniciar sesion</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal5">
        <div class="modal-content5">
            <span class="closeIcon5"><i class="fas fa-times"></i></span>
            <div class="modal-body5">
                <span class="icon5"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items5">
                    <h1>Ooops !</h1>
                    <p>No hemos podido registrar tu correo, prueba iniciando sesion</p>
                    <button id="okBtn5">Iniciar sesion</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal6">
        <div class="modal-content6">
            <span class="closeIcon6"><i class="fas fa-times"></i></span>
            <div class="modal-body6">
                <span class="icon6"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items6">
                    <h1>Ooops !</h1>
                    <p>Las contraseñas no son iguales</p>
                    <button id="okBtn6">Intenta de nuevo</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/controller/login/login.js" type="module"></script>
</body>

</html>