@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray-white: #f6f6f6;
    --color-gray: #757575;

    --color-fondo: #e8e8e8;

    --box-shadow: 1px 1px 2rem #00000039;
    --box-shadow-suave: 1px 1px 2rem #00000012;
    --box-shadow-fuerte: 1px 1px 1rem #000000;
}

.dark-mode {
    --color-white: #000000;
    --color-black: #ffffff;
    --color-gray-white: #232222;
    --color-gray: #a7a7a7;

    --color-fondo: #373737;

    --box-shadow: 1px 1px 2rem #ffffff21;
    --box-shadow-suave: 1px 1px 2rem #ffffff12;
    --box-shadow-fuerte: 1px 1px 1rem #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    background-color: var(--color-gray-white);
}

input {
    width: 100%;
}

#btnsidebar,
#btnsidebar2 {
    position: fixed;
    right: 20px;
    top: 20px;
    color: var(--color-white);
    background-color: var(--color-black);
    height: 30px;
    width: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow-fuerte);
}

.sidebar {
    top: 0;
    left: 0;
    width: 256px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-white);
    padding: 24px;
    border-radius: 0 15px 15px 0;
    position: fixed;
    transition: all .2s ease;
    box-shadow: var(--box-shadow);
    z-index: 100;
}

.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid var(--color-gray-white);
}

.user-img {
    width: 44px;
    height: 44px;
}

.user-img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.user-details .title {
    font-size: 11px;
    font-weight: 500;
    color: var(--color-gray);
}

.user-details .name {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
}

.menu .title {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-gray);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.nav {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-x: hidden;
}

.nav::-webkit-scrollbar {
    width: 4px;
    margin-left: 2rem;
}

.nav::-webkit-scrollbar-thumb {
    background-color: var(--color-fondo);
    border-radius: 10px;
}

.menu ul li {
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray);
    padding: 12px 20px;
    border-radius: 8px;
    transition: all .2s ease;
}

.menu ul li:hover a,
.menu ul li.active a {
    color: var(--color-black);
    background-color: var(--color-gray-white);
}

.menu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--color-gray-white);
}

.sidebar.active {
    width: 92px;
}

.sidebar.active #moon {
    display: none;
}

.sidebar.active .user-details {
    display: none;
}

.sidebar.active .menu .title {
    text-align: center;
}

.sidebar.active .menu>ul>li>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.active .menu>ul>li>a .text {
    display: none;
}

.main {
    padding: 1rem 2rem 1rem 7rem;
}

.main .admin_main {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.main .admin_main .text_admin-main {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.main .admin_main .text_admin-main h1 {
    font-size: 15px;
    font-weight: 900;
    color: var(--color-black);
}

.main .admin_main .text_admin-main p {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-black);
}

.main .admin_main img {
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
}

.main .stadistics {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.main .stadistics .stadistic {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: var(--color-white);
    padding: 3rem 2rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow-suave);
}

.main .stadistics .stadistic .text_stadistic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.main .stadistics .stadistic .text_stadistic i {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    font-size: 12px;
    border-radius: 50%;
}

.main .stadistics .stadistic:first-child .text_stadistic i {
    background-color: #ff8730;
    color: #f0f0f0;
}

.main .stadistics .stadistic:nth-child(2) .text_stadistic i {
    background-color: #b330ff;
    color: #f0f0f0;
}

.main .stadistics .stadistic:last-child .text_stadistic i {
    background-color: #00bf58;
    color: #f0f0f0;
}

.main .stadistics .stadistic .text_stadistic h1 {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-black);
}

.main .stadistics .stadistic .text_stadistic p {
    font-size: 20px;
    font-weight: 900;
    color: var(--color-black);
}

.circular_progress,
.circular_progress2,
.circular_progress3 {
    position: relative;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, var(--color-gray-white) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.circular_progress::before,
.circular_progress2::before,
.circular_progress3::before {
    content: '';
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: var(--color-white);
    flex: 0 0 auto;
}

.progress_value,
.progress_value2,
.progress_value3 {
    position: relative;
    font-weight: 900;
    color: var(--color-black);
}

.main .products {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main .products h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--color-black);
}

.main .products .content_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main .products .content_products .product {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-suave);
    width: 100%;
    padding: 5rem 1rem;
    border-radius: 30px;
    position: relative;
}

.main .products .content_products .product .top_product {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow-suave);
}

.main .products .content_products .product:first-child .top_product {
    background-color: #588157;
}

.main .products .content_products .product:nth-child(2) .top_product {
    background-color: #a98467;
}

.main .products .content_products .product:last-child .top_product {
    background-color: #6d6875;
}

.main .products .content_products .product .top_product h1 {
    font-size: 20px;
    color: white;
}

.main .products .content_products .product .center_product h3,
.main .products .content_products .product .center_product h4 {
    padding-left: 10px;
    color: var(--color-black);
}

.main .products .content_products .product .center_product h3 {
    font-size: 15px;
    font-weight: 900;
}

.main .products .content_products .product .center_product h4 {
    font-size: 12px;
    font-weight: 500;
}

.main .products .content_products .product .center_product .img_product {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .products .content_products .product img {
    width: 300px;
    aspect-ratio: 16/9;
    object-fit: contain;
    object-position: center center;
    margin-top: 2rem;
    filter: drop-shadow(var(--box-shadow));
}

.main .usersreminders {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    gap: 1rem;
}

.main .usersreminders .users h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--color-black);
}

.main .usersreminders .users .content_users {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-top: 1rem;
}

.main .usersreminders .users .content_users .user {
    background-color: var(--color-white);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-radius: 30px;
    box-shadow: var(--box-shadow-suave);
    gap: 1rem;
}

.main .usersreminders .users .content_users .user i {
    font-size: 15px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-gray);
    border-radius: 50%;
    color: var(--color-gray);
}

.main .usersreminders .users .content_users .user .text_user h1 {
    font-size: 60px;
    color: var(--color-gray);
}

.main .usersreminders .users .content_users .user .text_user p {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-gray);
}

.main .usersreminders .reminders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main .usersreminders .reminders .top_reminders {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main .usersreminders .reminders .top_reminders h1 {
    font-size: 20px;
    font-weight: 900;
    color: var(--color-black);
}

.main .usersreminders .reminders .top_reminders i {
    font-size: 12px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    color: var(--color-gray);
    flex: 0 0 auto;
}

.main .usersreminders .reminders .center_reminders {
    width: 100%;
    height: 380px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main .usersreminders .reminders .center_reminders::-webkit-scrollbar {
    width: 0;
}

.main .usersreminders .reminders .center_reminders .reminder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-suave);
    padding: 1rem 2rem;
    border-radius: 10px;
    gap: 1rem;
    position: relative;
}

.main .usersreminders .reminders .center_reminders .reminder .left_reminder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.main .usersreminders .reminders .center_reminders .reminder .left_reminder h3 {
    font-size: 13px;
    font-weight: 900;
    margin-bottom: .2rem;
    color: var(--color-black);
}

.main .usersreminders .reminders .center_reminders .reminder .left_reminder p {
    font-size: 11px;
    color: var(--color-black);
}

.main .usersreminders .reminders .center_reminders .reminder .left_reminder i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #7d2ae8;
    color: white;
    flex: 0 0 auto;
}

.main .usersreminders .reminders .bottom_reminders {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: dashed 1.5px #fe9516;
    transition: all .2s ease;
}

.main .usersreminders .reminders .bottom_reminders p,
.main .usersreminders .reminders .bottom_reminders i {
    font-size: 12px;
    font-weight: 900;
    color: #fe9516;
}

.main .usersreminders .reminders .bottom_reminders:hover {
    background-color: #fe9516;
}

.main .usersreminders .reminders .bottom_reminders:hover p,
.main .usersreminders .reminders .bottom_reminders:hover i {
    color: white;
}

.deleteReminder {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -500vw;
    left: 0;
    z-index: 1001;
    display: flex;
    align-items: end;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: all .2s ease;
}

.deleteReminder.active {
    bottom: 0;
}

.deleteReminder .content_deleteReminder {
    background-color: var(--color-white);
    width: 400px;
    box-shadow: var(--box-shadow-fuerte);
    height: 200px;
    border-radius: 30px 30px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1rem 2rem;
}

.deleteReminder .content_deleteReminder span {
    display: block;
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: var(--color-gray);
    top: 30px;
    border-radius: 50px;
}

.deleteReminder .content_deleteReminder h1 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: .2rem;
    color: var(--color-black);
}

.deleteReminder .content_deleteReminder p {
    font-size: 12px;
    color: var(--color-black);
}

.deleteReminder .content_deleteReminder a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem;
    background-color: #f65656;
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.modal_reminder {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -500vw;
    display: flex;
    align-items: center;
    justify-content: end;
    backdrop-filter: blur(5px);
    background-color: #0000003a;
    z-index: 1000;
    transition: all .2s ease;
}

.modal_reminder.active {
    right: 0;
}

.modal_reminder .modalcontent_reminder {
    height: 100vh;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow-fuerte);
    width: 400px;
    padding: 2rem;
    overflow: hidden;
    overflow-y: auto;
}

.modal_reminder .modalcontent_reminder::-webkit-scrollbar {
    width: 0;
}

.modal_reminder .modalcontent_reminder .top_reminder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}

.modal_reminder .modalcontent_reminder .top_reminder i {
    cursor: pointer;
    font-size: 13px;
    color: var(--color-black);
}

.modal_reminder .modalcontent_reminder .top_reminder h1 {
    font-size: 15px;
    font-weight: 900;
    color: var(--color-black);
}

.modal_reminder .modalcontent_reminder .con_reminder .input_reminder:not(:first-child) {
    margin-top: 1rem;
}

.modal_reminder .modalcontent_reminder .con_reminder .input_reminder p {
    font-size: 12px;
    margin-bottom: .5rem;
    color: gray;
}

.modal_reminder .modalcontent_reminder .con_reminder .input_reminder input {
    padding: .7rem 1rem;
    border-radius: 5px;
    border: solid 1px var(--color-gray);
    outline: none;
    color: var(--color-gray);
    font-size: 11px;
    background-color: transparent;
}

.modal_reminder .modalcontent_reminder .con_reminder a {
    border: solid #fe9516 1px;
    font-weight: 900;
    color: #fe9516;
    width: 100%;
    display: inline-block;
    margin-top: 1rem;
    padding: .7rem 2rem;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.modal_reminder .modalcontent_reminder .con_reminder a:hover {
    background-color: #fe9516;
    color: white;
}

/* Modal */

.modal h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal p {
    font-size: 12px;
}

.modal {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #505562;
    align-items: center;
    justify-content: center;
    z-index: 100000000000;
    transition: all 0.3s ease;
}

.modal.active {
    display: flex;
}

.modal-content {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content::before {
    background-color: #f656567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon:hover {
    color: #c7cad1;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon {
    font-size: 50px;
    color: #f65656;
}

.right-items {
    margin-left: 30px;
}

button#okBtn {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 2px solid #f65656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s;
}

button#okBtn:hover {
    background: #f65656;
}

/* Modal2 */

.modal2 h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal2 p {
    font-size: 12px;
}

.modal2 {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #5055628c;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: all 0.3s ease;
}

.modal2.active {
    display: flex;
}

.modal-content2 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content2::before {
    background-color: #56d3f67a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon2:hover {
    color: #c7cad1;
}

.modal-body2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon2 {
    font-size: 50px;
    color: #56b3f6;
}

.right-items2 {
    margin-left: 30px;
}

button#okBtn2 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 2px solid #f65656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: all 0.3s;
}

button#okBtn2:hover {
    background: #f65656;
}

button#cancelBtn2 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 2px solid #56b3f6;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 85px;
    bottom: 20px;
    transition: all 0.3s;
}

button#cancelBtn2:hover {
    background: #56b3f6;
}

/* Modal3 */

.modal3 h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal3 p {
    font-size: 12px;
}

.modal3 {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #5055628c;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.modal3.active {
    display: flex;
}

.modal-content3 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content3::before {
    background-color: #f656567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon3 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon3:hover {
    color: #c7cad1;
}

.modal-body3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon3 {
    font-size: 50px;
    color: #f65656;
}

.right-items3 {
    margin-left: 30px;
}

button#okBtn3 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 1px solid #f65656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;

    transition: all 0.3s;
}

button#okBtn3:hover {
    background: #f65656;
}

/* Modal4 */

.modal4 h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal4 p {
    font-size: 12px;
}

.modal4 {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #5055628c;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.modal4.active {
    display: flex;
}

.modal-content4 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content4::before {
    background-color: #5bf6567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon4 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon4:hover {
    color: #c7cad1;
}

.modal-body4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon4 {
    font-size: 50px;
    color: #5ef656;
}

.right-items4 {
    margin-left: 30px;
}

button#okBtn4 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 1px solid #5ef656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;

    transition: all 0.3s;
}

button#okBtn4:hover {
    background: #5ef656;
}

/* Modal5 */

.modal5 h1 {
    font-size: 30px;
    font-weight: 900;
}

.modal5 p {
    font-size: 12px;
}

.modal5 {
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #5055628c;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.modal5.active {
    display: flex;
}

.modal-content5 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    z-index: 7;
}

.modal-content5::before {
    background-color: #5bf6567a;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon5 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon5:hover {
    color: #c7cad1;
}

.modal-body5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon5 {
    font-size: 50px;
    color: #5ef656;
}

.right-items5 {
    margin-left: 30px;
}

button#okBtn5 {
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 1px solid #5ef656;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;

    transition: all 0.3s;
}

button#okBtn5:hover {
    background: #5ef656;
}


@media (width < 1200px) {
    .main .stadistics {
        padding: 2rem 0;
    }

    .main .products .content_products .product img {
        width: 200px;
    }
}

@media (width < 1100px) {
    .main .stadistics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .main .stadistics .stadistic:first-child {
        grid-row: 1;
    }

    .main .stadistics .stadistic:last-child {
        grid-row: 2;
        grid-column: 1/3;
    }

    .main .products .content_products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .main .products .content_products .product:first-child {
        grid-row: 1;
        grid-column: 1/3;
    }

    .main .usersreminders {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width < 800px) {
    .main .stadistics {
        display: flex;
        flex-direction: column;
    }

    .main .usersreminders {
        display: flex;
        flex-direction: column;
    }
}

@media (width < 650px) {
    .sidebar {
        left: -100vw;
    }

    .sidebar.response {
        left: 0;
    }

    #btnsidebar {
        display: flex;
        z-index: 1000000;
    }

    #btnsidebar2 {
        display: none;
    }

    .sidebar.response #btnsidebar {
        display: none;
    }

    .sidebar.response #btnsidebar2 {
        display: flex;
    }

    .main {
        padding: 1rem 2rem;
    }

    .main .admin_main {
        justify-content: start;
        display: flex;
        flex-direction: row-reverse;
    }

    .main .admin_main .text_admin-main {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .main .products {
        padding: 0;
    }

    .main .products .content_products {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main .usersreminders {
        padding: 2rem 0;
    }

    .main .usersreminders .top_reminders {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .main .usersreminders .name_users {
        margin-bottom: 1rem;
    }

    .modal {
        padding: 20px;
    }

    .modal-content {
        height: 300px;
    }

    .modal-content .modal-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content .modal-body .right-items {
        margin-left: 0px;
    }

    .modal2 {
        padding: 20px;
    }

    .modal-content2 {
        height: 400px;
    }

    .modal-content2 .modal-body2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content2 .modal-body2 .right-items2 {
        margin-left: 0px;
    }

    .modal3 {
        padding: 20px;
    }

    .modal-content3 {
        height: 400px;
    }

    .modal-content3 .modal-body3 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content3 .modal-body3 .right-items3 {
        margin-left: 0px;
    }

    .modal4 {
        padding: 20px;
    }

    .modal-content4 {
        height: 400px;
    }

    .modal-content4 .modal-body4 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content4 .modal-body4 .right-items4 {
        margin-left: 0px;
    }

    .modal5 {
        padding: 20px;
    }

    .modal-content5 {
        height: 400px;
    }

    .modal-content5 .modal-body5 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
        padding: 0;
        position: relative;
    }

    .modal-content5 .modal-body5 .right-items5 {
        margin-left: 0px;
    }
}

@media (width < 400px) {
    .main .stadistics .stadistic {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .main .stadistics .stadistic .text_stadistic {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main .usersreminders .users .content_users .user .text_user h1 {
        font-size: 30px;
    }

    .main .usersreminders .users .content_users .user i {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }

    .main .usersreminders .reminders .center_reminders .reminder {
        padding: 1rem;
    }
}

@media (width < 300px) {
    .main .admin_main .text_admin-main {
        display: none;
    }
}