@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

header {
    background-image: linear-gradient(to bottom right, #fe9516, #fe4c16, #fe1616);
    padding: 1rem 2rem;
    position: absolute;
    overflow: hidden;
    width: 100vw;
}

header nav img {
    width: 50px;
    cursor: pointer;
    transition: all .2s ease;
}

header nav img:hover {
    transform: scale(0.9);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header nav ul li a {
    font-size: 13px;
    color: white;
    font-weight: 400;
    z-index: 1;
}

header nav ul li:last-child,
header nav ul li:nth-child(4) {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
    z-index: 1;
}

header nav ul li:last-child a {
    color: #fe1616;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li:nth-child(4) a {
    color: #fe1616;
    font-size: 20px;
}

header nav ul li:last-child:hover,
header nav ul li:nth-child(4):hover {
    transform: scale(0.9);
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: rgb(255, 255, 255);
}

.link a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    top: 20px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

header .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7rem;
    gap: 2rem;
}

header .inicio .textinicio h1 {
    font-size: 90px;
    font-weight: 900;
    color: white;
}

header .inicio .textinicio p {
    font-size: 15px;
    color: white;
    font-weight: 300;
}

header .inicio .textinicio .imgabso1 {
    position: absolute;
    left: -250px;
    transform: rotate(45deg);
    width: 400px;
    filter: drop-shadow(2rem 1px 1rem #000);
}

header .inicio .textinicio .imgabso2 {
    position: absolute;
    left: 200px;
    top: -150px;
    transform: rotate(145deg);
    width: 400px;
    filter: drop-shadow(2rem 1px 1rem #000);
}

header .inicio .textinicio .imgabso3 {
    position: absolute;
    right: -100px;
    top: 550px;
    transform: rotate(-50deg);
    width: 400px;
    filter: drop-shadow(2rem 1px 1rem #000);
}

header .inicio .textinicio .btnsinicio {
    display: flex;
    margin-top: 1rem;
    gap: .2rem;
}

header .inicio .textinicio .btnsinicio a {
    padding: .7rem 2rem;
    color: white;
    font-size: 13px;
    border: solid 2px white;
    border-radius: 30px;
    transition: all .2s ease;
}

header .inicio .textinicio .btnsinicio a:hover {
    background-color: white;
    color: #fe1616;
    font-weight: 600;
    transform: translateY(-5px);
}

header .inicio img {
    width: 500px;
}

@media (max-width: 1100px) {
    header .inicio .textinicio .imgabso1 {
        left: -300px;
    }

    header .inicio .textinicio .imgabso3 {
        top: 600px;
    }
}

@media (max-width: 1000px) {
    header .inicio .textinicio .imgabso1,
    header .inicio .textinicio .imgabso3 {
        display: none;
    }

    header .inicio .textinicio .imgabso2 {
        top: -200px;
    }

    header .inicio {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    header .inicio .textinicio .imgabso2 {
        display: none;
    }

    .link {
        display: none;
    }
}

@media (max-width: 600px) {
    header .inicio img {
        width: 350px;
    }
}

@media (max-width: 500px) {
    .link{
        display: none;
    }

    header .inicio .textinicio h1 {
        font-size: 60px;
    }
}

@media (max-width: 400px) {
    header .inicio img {
        width: 300px;
    }
}

@media (max-width: 300px) {
    header .inicio .textinicio h1 {
        font-size: 40px;
    }

    header .inicio .textinicio .btnsinicio {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: .5rem;
    }

    header .inicio .textinicio .btnsinicio a:hover {
        transform: translateY(0);
    }

    header .inicio img {
        width: 250px;
    }

    header .inicio {
        padding: 1rem;
    }
}

