@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

header {
    background-image: linear-gradient(to bottom right, #fe9516, #fe4c16, #fe1616);
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    width: 100vw;
}

header nav img {
    width: 50px;
    cursor: pointer;
    transition: all .2s ease;
}

header nav img:hover {
    transform: scale(0.9);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header nav ul li a {
    font-size: 13px;
    color: white;
    font-weight: 400;
    z-index: 1;
}

header nav ul li:last-child,
header nav ul li:nth-child(4) {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
    z-index: 1;
}

header nav ul li:last-child a {
    color: #fe1616;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li:nth-child(4) a {
    color: #fe1616;
    font-size: 20px;
}

header nav ul li:last-child:hover,
header nav ul li:nth-child(4):hover {
    transform: scale(0.9);
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: rgb(255, 255, 255);
}

.link a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    top: 20px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

header .inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 7rem;
    gap: 2rem;
}

header .inicio .textinicio h1 {
    font-size: 90px;
    font-weight: 900;
    color: white;
}

header .inicio .textinicio p {
    font-size: 15px;
    color: white;
    font-weight: 300;
}

header .inicio .imgabso1 {
    position: absolute;
    left: -250px;
    transform: rotate(45deg);
    width: 400px;
    filter: drop-shadow(2rem 1px 1rem #000);
}

header .inicio .imgabso2 {
    position: absolute;
    left: 200px;
    top: -150px;
    transform: rotate(145deg);
    width: 400px;
    filter: drop-shadow(2rem 1px 1rem #000);
}

header .inicio .imgabso3 {
    position: absolute;
    right: -100px;
    top: 550px;
    transform: rotate(-50deg);
    width: 400px;
    filter: drop-shadow(2rem 1px 1rem #000);
}

header .inicio .textinicio .btnsinicio {
    display: flex;
    margin-top: 1rem;
    gap: .2rem;
}

header .inicio .textinicio .btnsinicio a {
    padding: .7rem 2rem;
    color: white;
    font-size: 13px;
    border: solid 2px white;
    border-radius: 30px;
    transition: all .2s ease;
}

header .inicio .textinicio .btnsinicio a:hover {
    background-color: white;
    color: #fe1616;
    font-weight: 600;
    transform: translateY(-5px);
}

header .inicio img {
    width: 500px;
    filter: drop-shadow(1rem 1px 1rem #000);
}

.menu {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-17px);
}

.menu p {
    padding: .7rem 3rem;
    background-color: #ffaa43;
    font-size: 13px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    z-index: 1;
}

.imgsmenu {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem 15rem;
    transform: translateY(-20px);
    align-items: center;
    width: 100vw;
    overflow: hidden;
    gap: 1rem;
    overflow-x: auto;
}

.imgsmenu::-webkit-scrollbar {
    width: 0;
    height: 3px;
}

.imgsmenu::-webkit-scrollbar-thumb {
    background-color: #ffaa43;
    border-radius: 5px;
}

.imgsmenu .cardsmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    gap: .5rem;
}

.imgsmenu .cardsmenu img {
    width: 100px;
    cursor: pointer;
}

.imgsmenu .cardsmenu:hover {
    transform: scale(1.1);
}

.imgsmenu .cardsmenu p {
    font-size: 14px;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: black;
    font-weight: 600;
}

.containercards {
    background-color: #f9ebe0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 10rem;
    position: relative;
    transform: translateY(-20px);
    overflow: hidden;
    z-index: 1;
}

.containercards .circulo {
    position: absolute;
    right: -250px;
    top: -300px;
    z-index: -1;
}

.containercards .circulo2 {
    position: absolute;
    left: -200px;
    bottom: -100px;
    z-index: -1;
}

.containercards .contentcards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
}

.containercards .contentcards .unocards {
    grid-row: 1;
    grid-column: 1/3;
}

.containercards .contentcards .doscards {
    grid-row: 1;
    grid-column: 3/5;
}

.containercards .contentcards .trescards {
    grid-row: 1;
    grid-column: 5/7;
}

.containercards .contentcards .cuatrocards {
    grid-row: 2;
    grid-column: 1/4;
}

.containercards .contentcards .cincocards {
    grid-row: 2;
    grid-column: 4/7;
}

.containercards .contentcards div img {
    width: 200px;
}

.containercards .contentcards .unocards,
.containercards .contentcards .doscards,
.containercards .contentcards .trescards,
.containercards .contentcards .cuatrocards,
.containercards .contentcards .cincocards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    border-radius: 10px;
    background-color: #fefeff;
    gap: 1rem;
    transition: all .2s ease;
}

.containercards .contentcards .doscards {
    background-color: #fe4c16;
}

.containercards .contentcards .cuatrocards {
    background-color: #fe9516;
}

.containercards .contentcards .unocards .textcards h1,
.containercards .contentcards .doscards .textcards h1,
.containercards .contentcards .trescards .textcards h1 {
    font-size: 35px;
    font-weight: 900;
}

.containercards .contentcards .unocards .textcards p,
.containercards .contentcards .doscards .textcards p,
.containercards .contentcards .trescards .textcards ul li {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: .3rem;
}

.containercards .contentcards .unocards .textcards h2,
.containercards .contentcards .doscards .textcards h2 {
    font-size: 20px;
    font-weight: 700;
}

.containercards .contentcards .doscards .textcards h1,
.containercards .contentcards .doscards .textcards p,
.containercards .contentcards .doscards .textcards h2 {
    color: white;
}

.containercards .contentcards .cuatrocards .textcards h1 {
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-bottom: 1rem;
}

.containercards .contentcards .cuatrocards .textcards button {
    padding: .7rem 2rem;
    border: solid 2px white;
    background-color: transparent;
    font-size: 15px;
    font-weight: 800;
    color: white;
    border-radius: 30px;
    transition: all .2s ease;
    cursor: pointer;
}

.containercards .contentcards .cuatrocards .textcards button:hover {
    background-color: white;
    color: #fe9516;
    transform: translateX(10px);
}

.containercards .contentcards .cincocards .textcards h1 {
    font-size: 30px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.containercards .contentcards .cincocards .textcards button {
    padding: .7rem 2rem;
    border: solid 2px #fe1616;
    background-color: transparent;
    font-size: 15px;
    font-weight: 800;
    color: #fe1616;
    border-radius: 30px;
    transition: all .2s ease;
    cursor: pointer;
}

.containercards .contentcards .cincocards .textcards button:hover {
    background-color: #fe1616;
    color: #ffffff;
    transform: translateX(10px);
}

.novedades {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transform: translateY(-20px);
}

.novedades h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fe9516;
    margin-bottom: 3rem;
}

.novedades .contentnovedades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.novedades .contentnovedades .innove {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.novedades .contentnovedades .innove h2 {
    font-size: 25px;
    font-weight: 900;
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #000000;
}

.novedades .contentnovedades .innove p {
    font-size: 14px;
    font-weight: 500;
}

.novedades img {
    width: 250px;
    height: auto;
    transition: all .2s ease;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fe4c16;
    height: 400px;
    padding: 10rem;
    margin-top: 5rem;
}

.redes img {
    width: 500px;
    z-index: 10;
    filter: drop-shadow(1rem 1px 1rem black);
}

.redes .textredes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redes .textredes h1 {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.redes .textredes .btnsredes {
    display: flex;
    gap: .2rem;
}

.redes .textredes .btnsredes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem 2rem;
    gap: .4rem;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    border: solid 2px white;
    transition: all .2s ease;
}

.redes .textredes .btnsredes a i {
    font-size: 20px;
}

.redes .textredes .btnsredes a:hover {
    background-color: white;
    color: #fe4c16;
    transform: translateY(-10px);
}

@media (max-width: 1900px) {
    .containercards .contentcards .unocards,
    .containercards .contentcards .doscards,
    .containercards .contentcards .trescards,
    .containercards .contentcards .cuatrocards,
    .containercards .contentcards .cincocards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .containercards .contentcards .cuatrocards .textcards,
    .containercards .contentcards .cincocards .textcards {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1500px) {
    .imgsmenu {
        padding: 1rem 3rem;
    }

    .redes .textredes h1 {
        font-size: 30px;
    }
}

@media (max-width: 1300px) {
    .containercards {
        padding: 5rem;
    }

    .redes {
        height: 320px;
        padding: 10rem 5rem;
    }
}

@media (max-width: 1100px) {
     .imgabso1 {
        display: none;
    }

    .imgabso3 {
        top: 600px;
    }

    header .inicio {
        padding: 2rem 15rem;
    }

    .containercards {
        padding: 5rem 2rem;
    }

    .redes .contentredes img {
        right: 20px;
    }

    .redes .contentredes {
        padding: 5rem 25rem 5rem 5rem;
    }

    .redes img {
        width: 400px;
    }

    .redes .textredes .btnsredes a {
        font-size: 13px;
    }

    .redes .textredes .btnsredes a i {
        font-size: 15px;
    }

    .redes .textredes h1 {
        font-size: 25px;
    }
}

@media (max-width: 1000px) {
    .imgabso1,
    .imgabso3 {
        display: none;
    }

    .imgabso2 {
        top: -200px;
    }

    header .inicio {
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem;
    }

    .containercards .contentcards {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .containercards .contentcards .cuatrocards .textcards h1,
    .containercards .contentcards .cincocards .textcards h1 {
        font-size: 20px;
    }

    .containercards .contentcards .cuatrocards .textcards button:hover,
    .containercards .contentcards .cincocards .textcards button:hover {
        transform: translateX(0);
    }

    .novedades .contentnovedades {
        grid-template-columns: 1fr 1fr;
    }

    .redes {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .redes .textredes {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .redes img {
        width: 400px;
    }
}

@media (max-width: 800px) {
    .imgabso2 {
        display: none;
    }

    .link {
        display: none;
    }

    .redes {
        padding: 5rem 1rem;
    }
}

@media (max-width: 600px) {
    header .inicio img {
        width: 350px;
    }

    header .inicio {
        padding: 1rem 2rem 4rem 2rem;
    }

    .novedades .contentnovedades {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .link{
        display: none;
    }

    header .inicio .textinicio h1 {
        font-size: 60px;
    }

    .redes img {
        width: 300px;
    }

    .redes .textredes h1 {
        font-size: 20px;
    }

    .redes .textredes .btnsredes {
        display: flex;
        flex-direction: column;
    }

    .redes .textredes .btnsredes:hover {
        transform: translateY(0);
    }
}

@media (max-width: 400px) {
    header .inicio img {
        width: 300px;
    }

    .containercards .contentcards .trescards .textcards h1 {
        font-size: 30px;
    }

    .novedades h1 {
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .novedades img {
        width: 200px;
    }

    .novedades {
        padding: 5rem 1rem;
    }

    .redes img {
        width: 200px;
    }
}

@media (max-width: 300px) {
    header .inicio .textinicio h1 {
        font-size: 40px;
    }

    header .inicio .textinicio .btnsinicio {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: .5rem;
    }

    header .inicio .textinicio .btnsinicio a:hover {
        transform: translateY(0);
    }

    header .inicio img {
        width: 250px;
    }

    header .inicio {
        padding: 1rem;
        padding-bottom: 3rem;
    }

    .containercards .contentcards .trescards .textcards h1 {
        font-size: 25px;
    }
}

