@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: #f9ebe0;
}

header {
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
    width: 100vw;
}

header nav img {
    width: 50px;
    cursor: pointer;
    transition: all .2s ease;
}

header nav img:hover {
    transform: scale(0.9);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header nav ul li a {
    font-size: 13px;
    color: white;
    font-weight: 400;
    z-index: 1;
}

header nav ul li:last-child,
header nav ul li:nth-child(1) {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
    z-index: 1;
}

header nav ul li:last-child a {
    color: #fe1616;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li:nth-child(1) a {
    color: #fe1616;
    font-size: 15px;
}

header nav ul li:last-child:hover,
header nav ul li:nth-child(1):hover {
    transform: scale(0.9);
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: rgb(255, 255, 255);
}

.link a::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    top: 20px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.concardsimg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    row-gap: 2rem;
    column-gap: 1rem;
    transform: translateY(-20px);
}

.concardsimg .cardsimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 1rem;
    gap: 2rem;
    background-color: #fff8f2;
    position: relative;
    border-radius: 10px;
    transition: all .3s ease;
}

.concardsimg .cardsimg .bottomcardsimg .plusres {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: transparent;
    border-radius: 10px;
    border: solid 1px #542400;
}

.concardsimg .cardsimg .bottomcardsimg button {
    padding: .7rem 1rem;
    background-color: transparent;
    border: solid 1px #542400;
    border-radius: 10px;
    color: #542400;
    font-weight: 700;
    font-size: 12px;
}

.concardsimg .cardsimg:hover {
    background-color: #FFC80C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23FFC80C' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ffbf0d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffb50d' cx='50' cy='100' r='50'/%3E%3Cg fill='%23ffac0e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffa30e' cx='50' cy='200' r='50'/%3E%3Cg fill='%23ff9a0f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff910f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23ff8810' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ff7f10' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ff7611' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fe6d11' cx='50' cy='500' r='50'/%3E%3Cg fill='%23fe6412' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fe5b12' cx='50' cy='600' r='50'/%3E%3Cg fill='%23fe5213' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fe4a13' cx='50' cy='700' r='50'/%3E%3Cg fill='%23fe4114' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fe3814' cx='50' cy='800' r='50'/%3E%3Cg fill='%23fe3015' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fe2715' cx='50' cy='900' r='50'/%3E%3Cg fill='%23fe1e16' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FE1616' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    transform: scale(1.05);
    z-index: 1;
}

.concardsimg .cardsimg:hover .starcardsimg {
    color: white;
}

.concardsimg .cardsimg:hover .bottomcardsimg i,
.concardsimg .cardsimg:hover .bottomcardsimg p {
    color: white;
    border-color: white;
}

.concardsimg .cardsimg:hover .bottomcardsimg button {
    border-color: white;
    color: white;
    cursor: pointer;
}

.concardsimg .cardsimg:hover .bottomcardsimg button:hover {
    background-color: white;
    color: #fe1616;
}

.concardsimg .cardsimg:hover .bottomcardsimg i:hover {
    background-color: white;
    color: #fe4c16;
}

.concardsimg .cardsimg img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.concardsimg .cardsimg:hover .bottomcardsimg .plusres {
    border-color: white;
}

.concardsimg .cardsimg:hover .bottomcardsimg .plusres i {
    background-color: transparent;
}

.concardsimg .cardsimg:hover .bottomcardsimg .plusres i:hover {
    color: #f9ebe0;
}

.concardsimg .cardsimg .bottomcardsimg .plusres i {
    border: none;
    background-color: transparent;
}

.concardsimg .cardsimg .starcardsimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    color: #542400;
}

.concardsimg .cardsimg .starcardsimg p {
    font-weight: 800;
    font-size: 15px;
}

.concardsimg .cardsimg .bottomcardsimg {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.concardsimg .cardsimg .bottomcardsimg i {
    font-size: 15px;
    width: 40px;
    height: 40px;
    border: solid 1.7px #542400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #542400;
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s ease;
}

.concardsimg .cardsimg .bottomcardsimg i:hover {
    background-color: #542400;
    color: white;
}

.concardsimg .cardsimg .bottomcardsimg p {
    font-size: 15px;
    font-weight: 900;
    color: #542400;
}

@media (max-width: 1800px) {
    .concardsimg {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1500px) {
    .concardsimg {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    .concardsimg {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .concardsimg {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .concardsimg .cardsimg {
        padding: 5rem 1rem 7rem 1rem;
    }

    .concardsimg .cardsimg img {
        width: 200px;
    }

    .concardsimg .cardsimg .bottomcardsimg .plusres {
        display: none;
    }
}

